/** 
    Organism
*/

.o-card {
    width: 100%;
    display: flex;
}

.o-card__reverse {
    width: 100%;
    display: flex;
    flex-flow: row-reverse;
}

/** 
    Molecules
*/

.m-card__description {
    width: 60%;
    padding: 160px;
    box-sizing: border-box;
}

.m-card__images {
    @include flex-row();
    width: 40%;
    img {
        width: 90%;
    }
}

/** 
    Responsive
*/

@media screen and (max-width: 1280px) {
    .o-card {
        width: 100%;
        display: flex;
        flex-flow: column;
    }

    .o-card__reverse {
        width: 100%;
        display: flex;
        flex-flow: column;
    }

    .m-card__description {
        width: 100%;
        padding: 16px;
        box-sizing: border-box;
    }

    .m-card__images {
        @include flex-row();
        width: 100%;
        margin-bottom: 60px;
        img {
            width: 40%;
        }
    }
}