/** 
    Organism
*/

.o-footer {
    width: 100%;
    padding: 60px 0;
    @include flex-space-evenly();
    flex-flow: wrap;
    > div {
        width: 240px;
        height: 240px;
    }
}

/** 
    Molecules
*/

.m-footer__company {
    img {
        width: 120px;
    }
}

.m-footer__newsletter {
    position: relative;
    input {
        margin-left: -34px;
        color: var(--color-gray);
        border: solid 1px var(--color-gray);
        background-color: var(--color-lightgray);
    }
}

/** 
    Atoms
*/

.a-footer__list {
    list-style: none;
    margin: 16px 0;
    padding: 0;
    li {
        margin: 10px 0;
    }
}

.a-footer__iconMail {
    position: absolute;
    width: 58px;
    height: 58px;
    background-color: var(--color-pink);
    top: 78px;
    right: 0;
    border-radius: 4px;
    cursor: pointer;
    @include flex-row();
}