h1 {
    font-size: 4.2rem;
    font-weight: 400;
    letter-spacing: 0.2rem;
    max-width: 600px;
}

h3 {
    font-size: 3rem;
    font-weight: 400;
    margin-top: 10px;
    z-index: 10;
}

h4 {
    font-size: 2rem;
    font-weight: 400;
    margin: 10px 0;
}

p {
    margin-top: 30px;
    color: var(--color-gray);
    line-height: 1.6rem;
}

a {
    color: var(--color-gray);
    text-decoration: none;
}

@mixin text-button {
    font-size: 1.2rem;
    font-weight: 400;
    text-transform: uppercase;
}

@mixin text-category {
    font-size: 1.4rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    z-index: 10;
}

@mixin text-list-title {
    font-size: 2rem;
    font-weight: 400;
}

@mixin text-list-body {
    font-size: 1.2rem;
}

@media screen and (max-width: 1280px) {
    h1 {
        font-size: 2.8rem;
    }

    h3 {
        font-size: 2rem;
    }
}