.a-h1 {
    color: var(--color-black);
    width: 600px;
    @include text-title-h1();
}

.a-category {
    color: var(--color-pink);
    @include text-category();
}

.a-h3-black {
    color: var(--color-black);
    @include text-title-h3();
}

.a-h3-white {
    color: var(--color-white);
    @include text-title-h3();
}

.a-paragraph {
    margin-top: 30px;
    color: var(--color-gray);
    line-height: 1.6rem;
}

.a-list-title {
    margin-bottom: 16px;
    @include text-list-title();
}

.a-list-body {
    line-height: 1.6rem;
    @include text-list-body();
}

a {
    color: var(--color-gray);
    text-decoration: none;
}