.a-h1 {
    color: var(--color-black);
    width: 600px;
    @include text-title-h1();
}

.a-category {
    color: var(--color-pink);
    @include text-secondary();
}

.a-h3 {
    color: var(--color-black);
    @include text-title-h3();
}

.a-paragraph {
    line-height: 1.6rem;
}

.a-list-title {
    margin-bottom: 16px;
    @include text-list-title();
}

.a-list-body {
    line-height: 1.6rem;
    @include text-list-body();
}