@mixin text-title-h1 {
    font-size: 4.2rem;
    font-weight: 400;
    letter-spacing: 0.2rem;
}

@mixin text-title-h3 {
    font-size: 3rem;
    font-weight: 400;
    margin-top: 10px;
}

@mixin text-button {
    font-size: 1.2rem;
    font-weight: 400;
    text-transform: uppercase;
}

@mixin text-category {
    font-size: 1.4rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}

@mixin text-list-title {
    font-size: 2rem;
    font-weight: 400;
}

@mixin text-list-body {
    font-size: 1.2rem;
}