// flex box 
@mixin flex-row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row;
}

@mixin flex-column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}


