.o-form {
    width: 100%;
    box-sizing: border-box;
    padding: 60px 0;
    background-color: var(--color-nightblue);
    @include flex-column();
    form {
        width: 80%;
        flex-wrap: wrap;
        @include flex-space-evenly();
        ::placeholder {
            color: var(--color-lightgray);
        }
    }
}
