:root {
    --color-white: #fff;
    --color-black: #000;
    --color-pink: #ff6d6d;
    --color-gray: #6e6e6d;
    --color-lightgray: #f6f5f3;
    --color-nightblue: #323969;
    --color-blue: #464c77;
  }